# Pandas - File Handling

## 1. CSV

In [1]:
import os 

current_directory = os.getcwd()

print (current_directory)

/home/studio-lab-user/sagemaker-studiolab-notebooks/lecture/Data Science 02

In [2]:
import pandas as pd

In [7]:
# current_directory  디렉토리 하위에 data/cctv_in_seoul.csv 파일이 존재해야함.

# cctv_in_seoul.csv 파일을 읽어 dataframe 으로 읽어들임 
cctv = pd.read_csv("data/cctv_in_seoul.csv", encoding="utf-8")

cctv.head()

     기관명    소계  2013년도 이전  2014년  2015년  2016년
0    강남구  2780       1292    430    584    932
1    강동구   773        379     99    155    377
2    강북구   748        369    120    138    204
3    강서구   884        388    258    184     81
4    관악구  1496        846    260    390    613
5    광진구   707        573     78     53    174
6    구로구  1561       1142    173    246    323
7    금천구  1015        674     51    269    354
8    노원구  1265        542     57    451    516
9    도봉구   485        238    159     42    386
10  동대문구  1294       1070     23    198    579
11   동작구  1091        544    341    103    314
12   마포구   574        314    118    169    379
13  서대문구   962        844     50     68    292
14   서초구  1930       1406    157    336    398
15   성동구  1062        730     91    241    265
16   성북구  1464       1009     78    360    204
17   송파구   618        529     21     68    463
18   양천구  2034       1843    142     30    467
19  영등포구   904        495    214    195    373
20   용산구  1624       1368    218    112    398
21   은평구  1873       1138    224    278    468
22   종로구  1002        464    314    211    630
23    중구   671        413    190     72    348
24   중랑구   660        509    121    177    109

## 2. Excel

* xlrd은 파이썬에서 엑셀 파일을 읽어오거나 쓰기를 할 때 필요한 라이브러리입니다.

In [11]:
! pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 2.2 MB/s eta 0:00:01
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

In [4]:
import pandas as pd

In [12]:
popseoul = pd.read_excel("data/population_in_seoul.xls")

popseoul.head() #5행만

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2017.1/4,합계,4202888,10197604,5000005,5197599,9926968,4871560,5055408,270636,128445,142191,2.36,1321458
3,2017.1/4,종로구,72654,162820,79675,83145,153589,75611,77978,9231,4064,5167,2.11,25425
4,2017.1/4,중구,59481,133240,65790,67450,124312,61656,62656,8928,4134,4794,2.09,20764

## 3. JSON

In [11]:
import pandas as pd

df = pd.read_json('data/score.json')

df

     id   name  math  physics  chemistry
0  A001    Tom    60       66         61
1  A002  James    89       76         51
2  A003  Jenny    79       90         78

## 4. 파일 쓰기

In [22]:
! pip install tables

Collecting tables
  Downloading tables-3.6.1-cp39-cp39-manylinux2010_x86_64.whl (14.3 MB)
     |████████████████████████████████| 14.3 MB 2.6 MB/s eta 0:00:01
Collecting numexpr>=2.6.2
  Downloading numexpr-2.8.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (380 kB)
     |████████████████████████████████| 380 kB 70.0 MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.9.3 in /home/studio-lab-user/.conda/envs/default/lib/python3.9/site-packages (from tables) (1.21.5)
Requirement already satisfied: packaging in /home/studio-lab-user/.conda/envs/default/lib/python3.9/site-packages (from numexpr>=2.6.2->tables) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /home/studio-lab-user/.conda/envs/default/lib/python3.9/site-packages (from packaging->numexpr>=2.6.2->tables) (3.0.6)
Installing collected packages: numexpr, tables
Successfully installed numexpr-2.8.1 tables-3.6.1

In [1]:
! pip install h5py

Collecting h5py
  Downloading h5py-3.6.0-cp39-cp39-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (4.5 MB)
     |████████████████████████████████| 4.5 MB 3.0 MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.14.5 in /home/studio-lab-user/.conda/envs/default/lib/python3.9/site-packages (from h5py) (1.21.5)
Installing collected packages: h5py
Successfully installed h5py-3.6.0

In [6]:
popseoul.to_hdf('data/popseoul.h5','pop_Seoul')  # HDF5 Store에 씀

/home/studio-lab-user/.conda/envs/default/lib/python3.9/site-packages/pandas/core/generic.py:2703: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed-integer,key->block0_values] [items->Index(['기간', '자치구', '세대', '인구', '인구.1', '인구.2', '인구.3', '인구.4', '인구.5', '인구.6',
       '인구.7', '인구.8', '세대당인구', '65세이상고령자'],
      dtype='object')]

  pytables.to_hdf(